<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newcoder.community.dao.DiscussPostMapper">
    <sql id = "selectFields">
        <if test="true">
            id,user_id,title,content,type,status,create_time,comment_count,score
        </if>
    </sql>

    <sql id = "InsertFields">
        <if test="true">
            user_id,title,content,type,status,create_time,comment_count,score
        </if>
    </sql>

    <select id="selectDiscussPosts" resultType="DiscussPost">
        select <include refid="selectFields"/>
        from discuss_post
        where status!=2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
        order by type DESC , create_time DESC
        limit #{offset} , #{limit}
    </select>


    <select id="selectDiscussPostById" resultType="DiscussPost">
        select <include refid="selectFields"/>
        from discuss_post
        where id=#{id}
    </select>

    <select id="selectDiscussPostRows" resultType="int">
        select count(id)
        from discuss_post
        where status!=2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
    </select>

    <!--insert语句后面能不能加括号！！！！-->
    <insert id="insertDiscussPost" >
        insert into discuss_post (<include refid="InsertFields"/>)
        values (#{userId},#{title},#{content},#{type},#{status},#{createTime},#{commentCount},#{score});
    </insert>

    <update id="updateCommentCount">
        update discuss_post
        set comment_count = #{commentCount}
        where id = #{id}
    </update>
</mapper>
